.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.AppHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 10px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05);
}
.SideMenu {
  height: 100%;
  position: fixed;
  margin-top: 70px;
  z-index: 1;
  flex: 1;
}
.SideMenuVertical {
  width: 200px;
}
.PageContent {
  padding-left: 12px;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  flex: 1;
  margin-bottom: 30px;
}
